html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-visit:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

/* Focus effect for both buttons */
.btn-visit:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

/* nav css  */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Đảm bảo navbar luôn ở trên các phần tử khác */
}

.navbar-img a img{
  border-radius: 5px;
  width: 50px;
  margin-left: 80px;
}

.nav-link2:hover {
  color: #000000 !important;
}

.nav-link {
  width: 85%;
  color: #000000 !important;
}
/* end nav css  */


/* room image  */

.image-selection .form-check {
  display: inline-block;
  margin-right: 15px;
}
.image-selection img {
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}
.image-selection input[type="radio"]:checked + label img {
  border-color: #007bff;
}

.image-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

.image-selection .form-check {
  flex: 0 1 calc(33.333% - 20px); 
  box-sizing: border-box; 
  text-align: center; 
}

.image-selection img {
  width: 100%; 
  height: auto; 
  border: 2px solid transparent; 
  transition: border-color 0.2s ease-in-out; 
}

.image-selection input[type="radio"]:checked + label img {
  border-color: #007bff; 
}

.image-selection img:hover {
  border-color: #5a5a5a; 
}

    .image-selection {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
        justify-content: center;
    }

    .image-selection .form-check {
        flex: 0 1 calc(40% - 20px); 
        box-sizing: border-box; 
        text-align: center; 
    }

    .image-selection img {
        width: 100%; 
        height: auto; 
        border: 2px solid transparent; 
        transition: border-color 0.2s ease-in-out;
    }

    .image-selection input[type="radio"]:checked + label img {
        border-color: #007bff;
    }

    .image-selection img:hover {
        border-color: #5a5a5a;
    }



/* room img end  */

/* bg-vid  */

.bg-vid{
  position: relative;
  top: -60px;
}

.elegant-text {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem; 
  color: white; 
  text-shadow: 1px 1px 2px gray; 
  letter-spacing: 0.5px; 
  line-height: 1.4; 
  text-align: center; 
}


.btn-mod{
  background-color:rgba(194, 194, 194, 0.66);
  color: white;
  border: 1px solidrgb(121, 121, 121);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

/* partner  */

.partner-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  max-height: 200px; 
  padding: 10px;
}

.pt-detail {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 10px;

  text-align: center;
  width: calc(14% - 0px);
  box-sizing: border-box;
}

.pt-detail h5 {
  font-family: 'Canto Roman';
  font-size: 1rem;
  margin-bottom: 8px;
  color: #ffffff;
}


.pt-detail img {
  width: 120px;
  height: 93px;
}



/* end bg-vid  */

/* home page  */

.pos-adjust {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center; 
}

.bg-modified {
  background-color: rgba(112, 112, 112, 0.43);
  backdrop-filter: blur(5px); 
}

.vid-adjust {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

.video-container {
  position: relative;
  height: 110vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.room-container {
  margin-top: 50px;
  padding: 30px 15px; 
  background-color: #f8f9fa; 
  border-top: 5px solid #ddd; 
}

.room-card {
  text-align: center;
  padding: 20px; 
  background-color: #fff;
  height: 100%;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.room-card img {
  width: 100%; 
  max-height: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
  object-fit: cover;
}

.room-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333; 
}

.room-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5; 
}

.furniture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.furniture-item {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f8f8f8;
  white-space: nowrap;
}


.warping {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: space-between; 
}

.form-warp {
  flex: 1 1 calc(20% - 10px); 
  max-width: calc(20% - 10px);
  box-sizing: border-box; 
}




/* end home page  */



/* Booker  */

.mod-searchbox {
  
}


.heart-hov:hover{
  background-color:rgba(197, 197, 197, 0.23);
  border-radius: 10%;
}

.back-hov:hover{
  color:rgb(0, 0, 0);
  font-weight: bold;
}
.arrow-hov{
  color: #f1c40f;
  font-weight: bold;
  transform:scale(1.2);
}

.room-details {
  display: flex; 
  gap: 20px; 
  font-family: Arial, sans-serif;
}

.room-details .info {
  flex: 65%;
  padding-right: 50px;
}

.room-details .furniture-section {
  flex: 30%; 
  height: 400px;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 15px; 
  background-color: #f9f9f9; 
}

.room-details .description {
  text-align: justify; 
  margin-top: 10px;
  margin-bottom: 20px;
}

.furniture-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.furniture-item {
  margin-bottom: 10px; 
  padding: 8px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.textarea {
  white-space: pre-wrap; /* Giữ khoảng trắng và xuống dòng */
  overflow-wrap: break-word; /* Bẻ dòng khi quá dài */
}



/* end Booker  */


/* tool tip  */

.tooltip2 {
  color: blue; 
  cursor: pointer;
  position: relative; 
  display: inline-block;
}

.tooltip2-text {
  visibility: hidden; 
  background-color: #333; 
  color: #000; 
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 2; 
  bottom: 120%;
  left: 50%;
  transform: translateY(140%) translateX(0%); 
  opacity: 0; 
  transition: opacity 0.3s; 
  font-size: 14px;
  white-space: nowrap;
  font-style: italic sans; 
  border: 1px solid #000000;
}

.tooltip3-text {
  visibility: hidden; 
  background-color: #333; 
  color: #000; 
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 2; 
  bottom: 120%;
  left: 50%;
  transform: translateY(101.5%) translateX(53%); 
  opacity: 0; 
  transition: opacity 0.3s; 
  font-size: 14px;
  white-space: nowrap;
  font-style: italic sans; 
  border: 1px solid rgb(201, 201, 201);
}

.tooltip2:hover .tooltip2-text,
.tooltip2:hover .tooltip3-text{
  visibility: visible; 
  opacity: 1;
  background-color: #ffffff; 
}



/* item room  */
.item-hov {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.item-hov img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.item-hov:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.item-hov:hover img {
  transform: scale(1.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


/* item room end  */



/* side bar  */
/* Sidebar chính */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color:rgb(255, 255, 255);
    color: white;
    transition: 0.3s;
    overflow-x: hidden;
    z-index: 1000;
    padding: 10px 20px;
    border-right: 1px solid #000000;
}

.sidebar.collapsed {
    width: 100px;
}

.sidebar .close-btn {
    position: absolute;
    top: 30px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}


.nav-item {
    margin: 15px 0;
    display: flex;
    align-items: center;
    color: #000000;
}

.nav-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.nav-item a:hover {
    color: #f1c40f;
}

.nav-item i {
    font-size: 20px;
    margin-right: 15px;
    transition: 0.3s;
}

.nav-item .text {
    transition: 0.3s;
}

.sidebar.collapsed .text {
    display: none;
}

.sidebar.collapsed i {
    margin-right: 0;
    font-size: 25px;
}

.back-home-hov:hover{
    color: #f1c40f;
    font-weight: bold;
    transform:scale(1.2);
}

.active-admin{
    color: #f1c40f;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* end side bar */



/* footer  */
body {
  font-family: Arial, sans-serif;
}

footer {
  background-color: #4b145b;
  color: #fff; 
  padding: 40px 0; 
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

.footer-column p {
  color: #ffffff;
  font-size: 16px; 
  margin: 8px 0;
  line-height: 1.6;
}

footer span {
  color: #ffffff;
  font-size: 24px; 
  font-weight: bold;
  display: block;
  margin-bottom: 10px; 
}

footer p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
}

.footer-column h3 {
  color: #ffffff;
  font-size: 25px; 
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-column img {
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  text-align: center;
  margin-top: 15px;
  padding-top: 5px;
  font-size: 14px;
  color: #b0b0b0;
  padding-bottom: 20px;
}

.footer-bottom a {
  color: #f4b400;
  text-decoration: none;
  font-weight: bold;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.container__sidebar--list-img img {
  border-radius: 5px;
}

.container__sidebar--list h5 {
  font-size: 24px;
  font-weight: bold; 
  margin-bottom: 10px; 
}

.container__sidebar--list ul {
  margin: 0; 
  padding: 0; 
}

.container__sidebar--list ul li {
  margin-bottom: 10px; 
}

.contact-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  padding: 25px;
  background-color: #f2f2f2;
}

.contact-item {
  display: flex;
  align-items: center;
  color: #333;
  margin-bottom: 5px;
  gap: 15px;
}

.contact-item p {
  word-break: keep-all;
  white-space: nowrap;
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-item img {
  margin-right: 10px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.contact-item:hover {
  cursor: pointer;
}

button {
  background-color: #ffcc00;
  color: #fff;
  border-radius: 3px;
  padding: 10px 15px; 
  margin: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #f1e9e9;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 15px 0; 
}

.styled-heading {
  font-weight: bold; 
  color: #fff; 
  margin-bottom: 20px; 
  text-decoration: none; 
  font-size: 36px; 
  position: relative;
  justify-content: center;
}

.styled-heading h1{
  width: 200px;
    margin: 0 auto;
}
/* end footer  */


/* world css  */
.map-info{
  width: 100%;
  text-align: center;
}


.map-marker-America,
.map-marker-Australia,
.map-marker-Africa,
.map-marker-Europe,
.map-marker-Asia{
  width: 100px;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.map-marker-Asia{
  top: 33%;
  left: 55%;
}
.map-marker-Europe{
  top: 27%;
  left: 42%;
}

.map-marker-Africa{
  top: 37%;
  left: 40%;
}

.map-marker-America{
  top: 37%;
  left: 24%;
}

.map-marker-Australia{
  top: 45%;
  left: 58%;
}

.map-marker-America:hover,
.map-marker-Australia:hover,
.map-marker-Africa:hover,
.map-marker-Europe:hover,
.map-marker-Asia:hover{
  color:rgb(0, 0, 0);
  cursor: pointer;
  scale: 1.2;
  translate: ease 0.8s;
}

#continentModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#continentModal > div {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  width: 70%;
  position: relative;
  border-radius: 8px;
  max-height: 90%;
  overflow-y: auto;
}

#continentModal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#hotelList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#hotelList div {
  border-radius: 8px;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#hotelList img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}



/* end world css  */

/* Blog Posts */
.blog-post {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
}

.blog-post img {
  width: 150px; 
  height: auto;
  margin-right: 20px;
}

.blog-details {
  flex: 1; 
}

.blog-title {
  font-size: 18px; 
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.blog-title:hover {
  color: #ffcc00;
}

.blog-details span {
  font-size: 14px; 
  color: #ffd700;
}

.blog-meta {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 5px; 
}

.blog-meta li {
  display: inline; 
}

.blog__container__post{
border-radius: 10px;
overflow: hidden;
margin-bottom: 20px;
margin-top: 30px;
transition: transform 0.3s;
}

.blog__container__post:hover {
  transform: translateY(5px);
}

.blog__container__post img {
  width: 100%;
  height: auto;
}
.blog__container__post--title {
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
}

.blog__container__post--btn {
  color: #ffd700;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.container {
  position: relative;
}


.container-text-center{
  color: var(--white-color);
    cursor: default;
}

.container-text-center h1:first-child{
  font-size: 112px;
  text-transform: uppercase;
  font-weight: 900;
}

.container-text-center h1:last-child{
  font-family: 'Beyond';
    font-size: 100px;
    color: #fff;
    text-align: center;
}



.hero-section {
  position: relative;
  height: 100vh; 
  overflow: hidden; 
}

.hero-section {
  position: relative;
  height: 100vh; 
  overflow: hidden; 
  background-size: cover; /* Đảm bảo hình nền lấp đầy không gian */
  background-position: center; /* Căn giữa hình nền */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
}

.blog__background{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

/* Container chính */
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start for better spacing */
  min-height: 100vh;
  background-color: #f9f9f9; /* Light background for contrast */
}

/* Container của trang Privacy */
.privacy-container {
  max-width: 900px;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; /* White background for content */
  margin-top: 80px; /* Reduced margin for better alignment */
}

/* Tiêu đề */
h1, h2 {
  color: #2c3e50; /* Darker color for better readability */
  font-weight: 700;
  margin-bottom: 20px; /* Added margin for spacing */
}

/* Thụt đầu dòng và khoảng cách cho các mục */
.mt-5 ul {
  list-style-type: none;
  padding-left: 20px;
}

.mt-5 li {
  margin-bottom: 10px; /* Khoảng cách giữa các mục */
  line-height: 1.6; /* Khoảng cách giữa các dòng */
  position: relative; /* Để có thể thêm gạch đầu dòng tùy chỉnh */
}

.mt-5 li::before {
  content: "•"; /* Gạch đầu dòng tùy chỉnh */
  font-size: 1.5em; /* Kích thước gạch đầu dòng */
  position: absolute; /* Đặt vị trí gạch đầu dòng */
  left: -20px; /* Định vị gạch đầu dòng bên trái */
  top: 0; /* Căn chỉnh gạch đầu dòng với dòng văn bản */
  color:#000;
}


ul li {
  margin-bottom: 15px; 
  color: #000000;
}

/* Thêm một khoảng cách giữa các section */
section {
  margin-bottom: 40px; /* Increased spacing between sections */
}

/* Các đoạn văn bản */
p {
  line-height: 1.8; /* Increased line height for better readability */
  color: #000000; /* Softer text color */
}

/* Liên kết trong trang Privacy */
a {
  color: #2980b9; /* Blue color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Mẫu icon cho những phần mục thêm vào */
ul li strong {
  color: #000000; 
}

/* Contact */
.Contact__background{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4));
}

.Contact__title{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.Contact__title h1 {
  font-size: 72px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 2px 2px 7px rgb(145, 145, 145);
}

.Contact__Container{
  height: 100%;
  padding: 35px 0;
}

.grid{
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide{
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1113px)
{
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

@media (min-width: 1113px)
{
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 1113px)
{
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media (min-width: 740px)
{
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}

.c-12 {
  flex: 0 0 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
}

.contact__container__form {
  position: relative;
  padding: 74px 48px 88px 48px;
  background: var(--border);
  border-radius: 7px;
}

.contact__container__form h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.contact__container__form--title {
  text-align: center;
}

.contact__form {
  padding: 0 50px;
  margin-top: 52px;
}

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}
.contact__form input {
  height: 48px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: solid 2px #e1e1e1;
}

.contact_form_name {
  margin-right: 20px;
}

.contact_form_subject {
  width: 100%;
  margin-top: 12px;
}

.contact_form_name, .contact_form_email {
  width: calc((100% - 30px) / 2);
}

.contact__form textarea {
  height: 126px;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 19px;
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border-bottom: solid 2px #e1e1e1;
  padding-top: 11px;
}

textarea {
font-family: monospace;
text-rendering: auto;
color: fieldtext;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
appearance: auto;
-webkit-rtl-ordering: logical;
resize: -internal-textarea-auto;
cursor: text;
overflow-wrap: break-word;
background-color: field;
column-count: initial !important;
margin: 0em;
border-width: 1px;
border-style: solid;
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-image: initial;
padding: 2px;
white-space: pre-wrap;
}

.contact__about {
  margin-bottom: 25px;
}

@media (min-width: 1113px)
{.l-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}}

@media (min-width: 1113px)
{
  .l-1, .l-2, .l-2-4, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
    display: block;
}
}

@media (min-width: 740px)
{
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
}

@media (min-width: 740px)
{
  .m-1, .m-2, .m-3, .m-4, .m-5, .m-6, .m-7, .m-8, .m-9, .m-10, .m-11, .m-12 {
    display: block;
}
}

@media (min-width: 1113px)
{
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}

@media (min-width: 740px)
{
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}

@media (min-width: 1113px)
{
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}

@media (min-width: 740px)
{
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}

.form_submit_button {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding: 0 29px;
  background: #31124b;
  transform: translateY(15px);
  border: none;
  outline: none;
  margin-top: 37px;
  cursor: pointer;
  display: inline-block;
  height: 53px;
  border-radius: 27px;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.contact-item li {
  display: inline-block; /* Đảm bảo các mục nằm ngang */
}

.contact-item a {
  color: #333; /* Màu biểu tượng */
  font-size: 20px; /* Kích thước biểu tượng */
  transition: transform 0.3s, color 0.3s; /* Hiệu ứng khi hover */
}

.contact-item a:hover {
  transform: scale(1.2); /* Phóng to biểu tượng khi hover */
  color: #ffcc00; /* Thay đổi màu biểu tượng khi hover */
}

/* Search */
/* Body Settings */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #555;
  background-color: #f8f8f8;
  
}

/* Main Container */
.main-container {
  width: 100%;
  background: linear-gradient(90deg, #FFA500, #8A2BE2);
  padding: 20px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensure space between items */
  min-height: 330px;
  position: absolute;
  top: 17.9%;
 }



/* Tabs Section */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
  width: 100%;
  position: absolute;
  top: 3%;
}

.con-left{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 5px;
}

.con-right{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 5px;
}

.con-top-bottom{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tab {
  padding: 20px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 200px;
  text-align: center;
}

.tab:hover {
  background-color: #ffd700;
  color: #000;
}

.tab.active {
  background-color: #ffd700;
  color: #000;
}

/* Form Styles */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-grow: 1;
}
.flex-grow-1 {
  flex-grow: 1; /* Để ô tự giãn ra theo chiều ngang */
}
.form-group label{
  color:#000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.horizontal {
  align-items: flex-end; /* Căn đáy để nhãn và ô nhập liệu thẳng hàng */
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="date"],
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  width: 120%;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%; /* Đặt bằng width của date và select */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #ffd700;
}

/* Destination takes full width */
.form-group.destination {
  width: 100%;
}

/* Horizontal Row for Inputs */
.row.horizontal {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Space between inputs */
}

.row.horizontal .form-group {
  width: 23%; /* Each input takes 23% of the row's width */
}

/* Submit Button */


/* Responsive Adjustments */
@media (max-width: 768px) {
  .form-group.destination {
    width: 100%;
  }

  .row.horizontal {
    flex-direction: column;
  }

  .row.horizontal .form-group {
    width: 100%;
  }
}

/* Adjustments for smaller screens */
@media (max-width: 1023px) {
  .form-group {
    padding: 20px 0;
  }

  .main-container {
    padding: 15px;
    min-height: 350px;
  }
}

.header__topbar__container--register {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa các phần tử */
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  width: 300px;
}

.header__topbar__container--register li,
.header__topbar__container--register li a {
  color: white; /* Màu chữ trắng */
  font-size: 11px; /* Kích thước chữ */
  font-weight: 600; /* Đậm chữ */
}

.header__topbar__container--register form button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  padding: 0; /* Xóa padding mặc định */
}

.header__topbar__container--register li a {
  text-decoration: none; /* Bỏ gạch chân cho các liên kết */
}

.header__topbar__container--register li form button:hover {
  color: #ccc; /* Thêm hiệu ứng hover */
}

.col.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* features_room_end */
.package__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: .27;
}
.package__container {
  position: relative;
}
.package__container .wide {
  z-index: 99;
}
.offers {
  background-color: #f3f6f9;
}
.package__container___body {
  background-color: var(--white-color);
  margin: auto;
  padding: 65px 90px;
}
.body--content__cta {
  text-align: center;
}
.package__container___body--content h2 {
  font-size: 30px;
  color: var(--black);
  text-transform: uppercase;
}
.item_rating {
  margin-top: 10px;
}
.item_rating i:first-child {
  color: #ffeb8d;
}
.item_rating i {
  font-size: 18px;
  margin-right: 4px;
  color: #a5a5a5;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.package__container___body--content p {
  font-weight: 600;
  line-height: 2.29;
  margin-top: 14px;
}
.home__container__slider--btn, .item--btn {
  display: inline-block;
  height: 53px;
  border-radius: 27px;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.home__container__slider--btn a, .item--btn a {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  white-space: nowrap;
  position: relative;
}
.home__container__slider--btn span, .item--btn span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #fff;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 5px;
}
.btn__bgc {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: var(--bg-btn);
  transition: all 400ms ease;
  cursor: pointer;
}